.news-container {
  border: 2px solid $border;
  height: 90%;
  margin-top: 1.75em;
  display: flex;

  .loader {
    margin: auto;
  }
  .error,
  .initial {
    h5 {
      text-align: center;
    }
    margin: auto;
    color: $text-muted;
  }
}
