@mixin xs {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

@mixin hover-opacity {
  opacity: 1;
  transition: 0.2s;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@mixin hover-bg-darken {
  transition: 0.2s;
  &:hover {
    background-color: $light-gray;
    cursor: pointer;
  }
}
